/*////////////////////////////////////////////// imports ////////////////////////////////////////////////////*/

@import "compass";
@import "singularitygs";
@import "import/mixins";
@import "import/bootstrap"; 


@font-face {
	font-family: "antonio-light";
	src: url("../fonts/Antonio-Light.ttf");
}
 @font-face {
	font-family: "leaugeGothic";
	src: url("../fonts/LeagueGothic-Regular.otf");
}
 @font-face {
	font-family: "leaugeGothicItalic";
	src: url("../fonts/LeagueGothic-Italic.otf");
}


/*///////////////////////////////////////////// MIXINS, VARIABLES, PLACEHOLDERS ///////////////////////////////*/

//colors
$green:#61B257;
$red: #CC6666;
$yellow: #ECD356;
$dark-grey: #505050;
$light-grey: #bababa;
$medium-grey: #828282;
$off-white: #ECECEC;

//gradients
@mixin button-gradient{
	@include background-image(linear-gradient(top, $medium-grey, $dark-grey));
}
@mixin button-gradient-inverse{
	@include background-image(linear-gradient(top, $dark-grey, $medium-grey));
}
@mixin button-gradient-light{
	@include background-image(linear-gradient(top, $off-white, $medium-grey));
}
@mixin button-gradient-light-inverse{
	@include background-image(linear-gradient(top, $medium-grey, $off-white));
}

//fonts
@mixin font-leagueGothic{
	font-family: "leaugeGothic";
	font-weight: 400;
}
@mixin font-leagueGothicItalic{
	font-family: "leaugeGothicItalic";
	font-weight: 400;
}
@mixin font-oswald{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
@mixin font-oswald-regular{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
@mixin font-arial{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
@mixin font-georgia{
	font-family: Georgia, Times, "Times New Roman", serif;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////
	    ____  __                __          __    __              
	   / __ \/ /___ _________  / /_  ____  / /___/ /__  __________
	  / /_/ / / __ `/ ___/ _ \/ __ \/ __ \/ / __  / _ \/ ___/ ___/
	 / ____/ / /_/ / /__/  __/ / / / /_/ / / /_/ /  __/ /  (__  ) 
	/_/   /_/\__,_/\___/\___/_/ /_/\____/_/\__,_/\___/_/  /____/  
	                                                              
//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
%container-grid{
	@include clearfix();
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
	padding: 0 1.5%;
}

%button{
	@include button-gradient();
	text-decoration: none;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid $dark-grey;
	border-left: 0;
	border-right: 0;
	color: $off-white;
	text-transform: uppercase;
	&:hover, &:focus{
		@include button-gradient-inverse();
	}
	&:active{
		background:$light-grey;
	}
	&.disabled{
		background: $light-grey;
		color: $medium-grey;
		opacity: .5;
		border: 1px solid $off-white;
	}
}



%button-light{
	@include button-gradient-light();
	text-decoration: none;
	border: none;
	color: $dark-grey;
	text-transform: uppercase;
	&:hover, &:focus{
		@include button-gradient-light-inverse();
	}
	&.disabled{
		background: $off-white;
		color: $medium-grey;
		opacity: .5;
		border: none;
	}
}

%common-header{
	background:$dark-grey;
	padding: 10px 15px;
	color: $off-white;
	@include font-georgia();
	@include font-size(14);
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1;
}

%common-header-inverse{
	background: $off-white;
	padding: 10px 15px;
	color: $dark-grey;
	@include font-georgia();
	@include font-size(14);
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1;
}

%common-body{
	background:$off-white;
	padding: 10px 15px;
	color: $dark-grey;
	@include font-arial();
	@include font-size(12);
}



/*////partials/////*/
/* @import "import/blocks";
@import "partials/modules--lp";
@import "partials/data_table--lp";
@import "partials/detail_view"; */
/* @import "partials/filter_nav";
 *//* @import "partials/login";
 *//* @import "partials/unassigned";
@import "partials/participant_view"; */
@import "partials/prefs";


.clearfix {
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
/*////////////////////////////////////////////// Global ////////////////////////////////////////////////////*/

* {
	@include box-sizing(border-box);
}

a {
  color: $dark-grey;
}

a:hover,
a:focus {
  color: $dark-grey;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


a,img{
	outline:none;
	border:none; 
}
a {
	cursor: pointer;
}
html, body {
	min-height: 100%;
}
html{
	font-size:62.5%;
	overflow-y: scroll;
}
body {
	@include font-size(14);
	@include font-georgia;
	color: #666;
	line-height: 1.7em;
	margin: 0;
	min-width: 1024px;
}

h1, h2, h3, h4, h5, h6 {
	color: #505050;
	margin:0;
	padding-bottom: 5px;
}
h1{
	
}

	.beta{
		@include font-size(20);

	}
h2{
	@include font-oswald();
	@include font-size(25);
	color: $dark-grey;
	margin: 15px 0;
}
h3{
	@include font-size(22);
	@include font-oswald();	
	padding: 0;
	color: $dark-grey;
}
.highcharts-title{
	display: none;
}

h5{
	@include font-size(16);
	@include font-oswald();
	color: $dark-grey;
}

footer{
	background: none;
	margin:0 5%;
	padding:20px 0;
	clear: both;
}
.wrapper{
	float: right;
	transition: width 0.3s ease;
	width: 100%;
}

.left{
	float: left;
}
.right{
	float: right;
}
.green, .Green {
	color: #61B257;
}
.yellow, .Yellow {
	color: #ECD356;
}
.red, .Red {
	color: #CC6666;;
}
.grey, .gray, .Grey, .Gray {
	color:$dark-grey;
}
.button{
	@extend %button;
}

.button-light{
	@extend %button-light;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	    __  ___          __      __   _____ __        __         
	   /  |/  /___  ____/ /___ _/ /  / ___// /___  __/ /__  _____
	  / /|_/ / __ \/ __  / __ `/ /   \__ \/ __/ / / / / _ \/ ___/
	 / /  / / /_/ / /_/ / /_/ / /   ___/ / /_/ /_/ / /  __(__  ) 
	/_/  /_/\____/\__,_/\__,_/_/   /____/\__/\__, /_/\___/____/  
	                                        /____/               
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.modal {
	z-index: 9999 !important;
/* 	top: 25%;
	overflow: hidden; */
}

	.modal-backdrop.in{
		z-index: 9500 !important;
	}

	.modal-in .modal-dialog, .modal-fade .modal-dialog{
	}

	.modal-dialog{
		width: 60%;
		margin: 0 auto 30px;
	}

	.modal-content{
		@include border-radius(0);
		border-top: 0;
	}
	.modal-body{
		@include clearfix;
	}

		.modal-header{
			margin: 0;
			padding: 0;
			border: none;
			h3{
				text-transform: uppercase;
			}
		}

			.settings-text{
				@include font-arial();
				float: left;
				width: 100%;
			}

		#form-prefs{
			padding: 0 2%;
		}

			.container-select-outer{
				float: left;
				select{
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					padding: 5px 12px;
					width: 102%;
					position: relative;
					z-index: 10;
					border: none;
					min-height: 37px;
					background: none;
					&:hover{
						cursor: pointer;
					}
					option{
						padding: 8px 10px;
					}
				}
			}

			.container-settings-item{
				background: $off-white;
				border: 1px solid $light-grey;
				@include clearfix();
				float: left;
				padding: 15px;
				margin: 10px 0;
				width: 100%;
			}

				.container-select{
					position: relative;
					overflow: hidden;
					border: 1px solid $light-grey;
					width: 100%;
					i{
						@include button-gradient;
						color: $off-white;
						position: absolute;
						right: 0;
						top: 0;
						z-index: 0;
						min-width: 37px;
						height: 37px;
						padding: 13px 0;
						text-align: center;
					}
				}

			.container-modal-btn{
				width: 100%;
				padding: 0 20px 20px;
				.btn-link{
					padding-top: 3px;
					padding-bottom: 3px;
				}
			}

				.btn-reset{
					float: left;
				}
				.btn-modal{
					padding: 5px 0;
					width: 125px;
				}

			.settings-item{
				@include font-arial();
				float: left;
				width: 50%;
				@include font-size(12);
				label{
					cursor: pointer;
					margin: 0;
				}
				i{
					min-width: 25px;
					padding-right: 5px;
				}
				input[type="checkbox"]{
					display: none;
				}
			}







/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	    ___    __          __     _____ __        __         
	   /   |  / /__  _____/ /_   / ___// /___  __/ /__  _____
	  / /| | / / _ \/ ___/ __/   \__ \/ __/ / / / / _ \/ ___/
	 / ___ |/ /  __/ /  / /_    ___/ / /_/ /_/ / /  __(__  ) 
	/_/  |_/_/\___/_/   \__/   /____/\__/\__, /_/\___/____/  
	                                    /____/               
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.alert{
	font-weight: 400;
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	opacity: 1;
	padding: 15px;
	background:transparent url('image.png') left top no-repeat;
	color: $off-white;
	background-color: $green;
	border-color: #d6e9c6;
	text-align: center;
	@include font-arial();
	border: 1px solid transparent;
	z-index: 999999;
	@include border-radius(0);
	&.fade-out{
		opacity: 0;
		@include transition(all, 3s);
	}
	&.alert-danger{
		background: $red;
		color: $off-white;
	}
}

	.alert-msg--close{
		margin-left: 20px;
		i{
			color: rgba(0,0,0,.2);
		}
		&:visited{
			color: #428bca;
		}
		&:hover, &:focus {
			i{
				color: rgba(0,0,0,.5);
			}
		}
	}


.container-feedback-outer{
	width: 100%;
	background: $medium-grey;
}
	.container-feedback{
		@extend %container-grid;
		.feedback{
			color: $off-white;
			a{
				text-decoration: underline;
				color: $yellow;
				&:hover, &:focus{
					color: $off-white;
				}
			}
		}
	}

		.hide-feedback{
			background:none;
			border: none;
			margin: 6px 0;
			color: $yellow;
			&:hover{
				color: $off-white;
			}
		}

.loading{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .6);
	z-index: 888888;
}

	.loading-inner{
		position: relative;
		margin: 15% auto;
		max-width: 265px;
	}

	.loading-text{
		font-family: leaugeGothicItalic, arial, san-serif;
		text-transform: uppercase;
		@include font-size(90);
		color: #f1f1f1;
		padding: 8px 0 0;
		text-align: center;
		line-height: 1;
		float: right;
	}


	#circleG{
		width:32px;
		float: left;
	}

	.circleG{
		background-color:#CC6666;
		height:32px;
		width:32px;
		margin-bottom: 5px;
		-moz-animation-name:bounce_circleG;
		-moz-animation-duration:2.7s;
		-moz-animation-iteration-count:infinite;
		-moz-animation-direction:linear;
		-moz-border-radius:21px;
		-webkit-animation-name:bounce_circleG;
		-webkit-animation-duration:2.7s;
		-webkit-animation-iteration-count:infinite;
		-webkit-animation-direction:linear;
		-webkit-border-radius:21px;
		-ms-animation-name:bounce_circleG;
		-ms-animation-duration:2.7s;
		-ms-animation-iteration-count:infinite;
		-ms-animation-direction:linear;
		-ms-border-radius:21px;
		-o-animation-name:bounce_circleG;
		-o-animation-duration:2.7s;
		-o-animation-iteration-count:infinite;
		-o-animation-direction:linear;
		-o-border-radius:21px;
		animation-name:bounce_circleG;
		animation-duration:2.7s;
		animation-iteration-count:infinite;
		animation-direction:linear;
		border-radius:21px;
	}

		#circleG_1{
		-moz-animation-delay:0s;
		-webkit-animation-delay:0s;
		-ms-animation-delay:0s;
		-o-animation-delay:0s;
		animation-delay:0s;
		}

		#circleG_2{
		-moz-animation-delay:.5s;
		-webkit-animation-delay:.5s;
		-ms-animation-delay:.5s;
		-o-animation-delay:.5s;
		animation-delay:.5s;
		}

		#circleG_3{
		-moz-animation-delay:1s;
		-webkit-animation-delay:1s;
		-ms-animation-delay:1s;
		-o-animation-delay:1s;
		animation-delay:1s;
		}

			@-moz-keyframes bounce_circleG{
			0%{
			}

			50%{
			background-color:#61B257}

			100%{
			}

			}

			@-webkit-keyframes bounce_circleG{
			0%{
			}

			50%{
			background-color:#61B257}

			100%{
			}

			}

			@-ms-keyframes bounce_circleG{
			0%{
			}

			50%{
			background-color:#61B257}

			100%{
			}

		}

	@-o-keyframes bounce_circleG{
		0%{
		}

		50%{
		background-color:#00FF00}

		100%{
		}

		}

		@keyframes bounce_circleG{
		0%{
		}

		50%{
		background-color:#00FF00}

		100%{
		}

	}



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	    __  __               __             ____                      _____ __        __         
	   / / / /__  ____ _____/ /__  _____   / __ \____ _____ ____     / ___// /___  __/ /__  _____
	  / /_/ / _ \/ __ `/ __  / _ \/ ___/  / /_/ / __ `/ __ `/ _ \    \__ \/ __/ / / / / _ \/ ___/
	 / __  /  __/ /_/ / /_/ /  __/ /     / ____/ /_/ / /_/ /  __/   ___/ / /_/ /_/ / /  __(__  ) 
	/_/ /_/\___/\__,_/\__,_/\___/_/     /_/    \__,_/\__, /\___/   /____/\__/\__, /_/\___/____/  
	                                                /____/                  /____/               
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container-header{
		background: #505050;

}

.header-page{
	@extend %container-grid;
	color: #fff;
}

.container-logo{
	float: left;

}

	.three-colors{
		float: left;
		padding:36px 0;
		margin:0 0 0 4%;
	}
	.green-logo{
		background: #61B257;
	}
	.red-logo{
		background: #CC6666;
	}
	.yellow-logo{
		background: #ECD356;
	}
	.traffic{
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		margin:0 0 2px;
		height: 20px;
		width: 20px;
	}

	.logo{
		@include font-size(68);
		/* padding: 28px 0; */
		line-height: .65;
		margin: 37px 0 0;
		font-family: leaugeGothicItalic, arial, san-serif;
		text-transform: uppercase;
		font-weight: normal;
		font-style: normal;
		color: #f1f1f1;
		position: relative;
		padding-left: 20px;
		a{
			text-decoration: none;
			color: #f1f1f1;
			display: block;
			&:visited, &:focus, &:hover{
				text-decoration: none;
				color: #f1f1f1;
			}
		}
		&:before{
			content: url(../images/logo.png);
			position: absolute;
			left: 0;
			top: -7px;
		}
	}

	.logo-span{
		font-weight: 300;
	}

	.tagline{
		@include font-oswald();
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 0 0 15px 10px;
	}

.container-login{
	float: right;
	text-align: right;
	max-width: 520px;
}

	.leave-feedback{
		display: block;
		background:$medium-grey;
		color: $off-white;
		padding: 5px 10px;
		float: right;
		text-decoration: none;
		i{
			vertical-align: 7%;
			padding-left: 5px;
		}
	}
	.login-block{
		padding:20px 0 0 0;
		margin: 0;
		display: block;
		width: 64px;
		clear: both;
	}
	.logout,
	.login{
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		background-color: #828282; 
		@include background-image(linear-gradient(#828282, #666666));
		text-decoration: none;
		border-top: 1px solid #bababa;
		border-bottom:1px solid #4b4b4b;
		padding: 3px 20px;
		color: #fff;
		text-decoration: none;
		margin: 0 0 0 20px;
	}
	.logout:hover,
	.login:hover{
		color: #fff;
		background: #828282;
	}

	.login-block{
		float: right;
	}

		.avatar{
			display: block;
			float: left;
		}

		.btn-user{
			width: 32px;
			height: 32px;
			display: block;
			float: left;
			border-radius: 0;
			span{
				display: none;
			}
		}

	.container-timestamp{
		@include font-size(12);
		margin: 0 0 6px;
		float: right;
		clear:both;
	}

.container-nav{
	background-color: #828282;
	@include background-image(linear-gradient(top, #828282, #505050));
}
	.main-nav{
		@extend %container-grid;
		clear: both;
		@include clearfix();
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				display: inline;
				a{
					padding:10px 0;
					width: 16.66%;
					margin: 0;
					@include font-size(12);
					display: block;
					float: left;
					text-transform: uppercase;
					@include font-georgia;
					text-decoration: none;
					background-color: #828282; 
					@include background-image(linear-gradient(top, #828282, #505050));
					color: #ececec;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
					text-shadow: rgba(0,0,0,0.4) 0 1px 0;
					text-align: center;
					&:hover, &.active{
						background: url(../images/tweed.png) 0 0 repeat;
						color: #ececec;
						-webkit-box-shadow: inset 0 1px 8px 0px #000;
						-moz-box-shadow: inset 0 1px 8px 0px #000;
						box-shadow: inset 0 1px 8px 0px #000;
					}
					@include breakpoint(max-width 1240px) {
						@include font-size(13);
						padding: 15px 0;
					}
					@include breakpoint(max-width 780px) {
						font-family: antonio-light, Arial sans-serif;
						@include font-size(14);
						text-transform: none;
						width:auto;
						padding:15px 10px;
					}  
					@include breakpoint(max-width 600px) {
						
						
						text-transform: none;
						width:auto;
						padding:15px 4px;
					} 

				}
			}
		}
	}

.Design .main-nav ul li a[href="/"]{
	background: url(../images/tweed.png) 0 0 repeat;
	color: #ececec;
	-webkit-box-shadow: inset 0 1px 8px 0px #000;
	-moz-box-shadow: inset 0 1px 8px 0px #000;
	box-shadow: inset 0 1px 8px 0px #000;
}

.Development .main-nav ul li a[href="/development"]{
	background: url(../images/tweed.png) 0 0 repeat;
	color: #ececec;
	-webkit-box-shadow: inset 0 1px 8px 0px #000;
	-moz-box-shadow: inset 0 1px 8px 0px #000;
	box-shadow: inset 0 1px 8px 0px #000;
}

.design-main-nav:before,
.development-main-nav:before,
.seo-main-nav:before,
.project-managers-main-nav:before,
.quality-main-nav:before,


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	   ______            __        _                    ____                      _____ __        __         
	  / ____/___  ____  / /_____ _(_)___  ___  _____   / __ \____ _____ ____     / ___// /___  __/ /__  _____
	 / /   / __ \/ __ \/ __/ __ `/ / __ \/ _ \/ ___/  / /_/ / __ `/ __ `/ _ \    \__ \/ __/ / / / / _ \/ ___/
	/ /___/ /_/ / / / / /_/ /_/ / / / / /  __/ /     / ____/ /_/ / /_/ /  __/   ___/ / /_/ /_/ / /  __(__  ) 
	\____/\____/_/ /_/\__/\__,_/_/_/ /_/\___/_/     /_/    \__,_/\__, /\___/   /____/\__/\__, /_/\___/____/  
	                                                            /____/                  /____/               
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container-page{
	position: relative;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	    ___    _________         __  ___          __      __        _____ __        __         
	   /   |  / __/ __(_)  __   /  |/  /___  ____/ /_  __/ /__     / ___// /___  __/ /__  _____
	  / /| | / /_/ /_/ / |/_/  / /|_/ / __ \/ __  / / / / / _ \    \__ \/ __/ / / / / _ \/ ___/
	 / ___ |/ __/ __/ />  <   / /  / / /_/ / /_/ / /_/ / /  __/   ___/ / /_/ /_/ / /  __(__  ) 
	/_/  |_/_/ /_/ /_/_/|_|  /_/  /_/\____/\__,_/\__,_/_/\___/   /____/\__/\__, /_/\___/____/  
	                                                                      /____/               
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


////////////////CONTAINER Utilities///////////////////////

.container-utilities-outer{
		background:$dark-grey;
		padding: 11px 0;
		&.affix{
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 9000;
		}
	}
		.container-utilities{
			@extend %container-grid;
		}

			.container-search{
				float: left;
				width: 20%;
				margin-right: 3.3333%;
				border: 1px solid $medium-grey;
				input{
					padding: 7px 0 6px 15px;
					border-radius: 0;
					background:none;
					border: 0;
					height: auto;
					color: $off-white;
				}
				::-webkit-input-placeholder { /* WebKit browsers */
					color: $off-white;
				}
				:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					color: $off-white;
				}
				::-moz-placeholder { /* Mozilla Firefox 19+ */
					color: $off-white;
				}
				:-ms-input-placeholder { /* Internet Explorer 10+ */
					color: $off-white;
				}
			}

				.dropdown-menu{
					z-index: 6000;
				}



			.container-indicator{
				float: left;
				width: 25%;
				margin-right: 3.3333%;
				border: 1px solid $medium-grey;
				color: $off-white;
			}

				.title-indicator{
					@include font-oswald();
					@include font-size(14);
					text-transform: uppercase;
					letter-spacing: 1px;
					float: left;
					padding: 5px 0 5px 15px;

				}

				.number-indicator{
					float: right;
					padding: 5px 0;
					text-align: center;
					@include font-oswald-regular();
					@include font-size(17);
					min-height: 33px;
					min-width: 33px;
					&.late{
						background:$red;
					}
					&.caution{
						background:$yellow;
						color: $dark-grey;
					}
					&.on-time{
						background:$green;
					}
					&.unassigned{
						background:$light-grey;
						color: $dark-grey;
					}
				}

			.btn-unassigned{
				float: left;
				width: 20%;
				@include font-size(12);
				@include font-georgia();
				padding: 6px 0;
				i{
					padding-right: 10px;
				}
			}

	.container-ng{
		position: relative;
	}

/* this is temporary */

.container-filter-status-outer{
	border-bottom: 1px solid $light-grey;
	height: 36px;
	&.affix{
		top: 57px;
		width: 100%;
		z-index: 8000;
		background:rgba(255,255,255,.7);
		&.detail-view{
			top: 0;
		}
	}
	&.no-data{
		background: $red;
		.container-filter-status{
			padding: 6px 0;
			color: $off-white;
		}
	}
}
	.container-filter-status{
		@extend %container-grid;
		overflow: hidden;
		height: 35px;
		&.toggle-open{
			overflow: visible;
		}
	}
	.filter-status {
		float: left;
		position: relative;
		z-index: 5000;
		background: #fff;
		max-width: 90%;
		border-left: 1px solid $light-grey;
		button {
			border:0 none;
			background:none transparent;
			color:$medium-grey;
		}
		&.toggle-open{
			border: 1px solid $light-grey;
			border-top: 0;
/* 			@include box-shadow(0px 7px 15px rgba(186,186,186, .5));
 */		}	
	}

	.container-filter-status-outer.affix{
		.filter-status{
			background:none;
			&.toggle-open{
				background:#fff;
			}
		}
	}

		.current-filter{
			float: left;
			@include font-arial;
			color: $medium-grey;
			padding: 7px 10px 5px;
			max-height: 35px;
			&.current-org-filter{
				/* border-right: 1px solid $light-grey; */
				background:$medium-grey;
				color: #fff;
			}
			&.current-color-filter{
				text-transform: capitalize;
			}
		}

		.btn-toggle-current{
			border: none;
			background:none;
			float: right;
			width: 10%;
			i{
				vertical-align: top !important;
			}
		}


////////////////CONTAINER FILTER///////////////////////

.container-filter{
	position: absolute;
	top: 57px;
	bottom: 0;
	width: 20%;
	left: -20%;
	z-index: 8500;
	background:rgba(22,22,22,.8);
	@include transition-property(left);
	@include transition-duration(.4s);
	@include transition-timing-function(ease-out);
	&.open{
		left: 0;
	}
	&.affix{
		top: 57px;
		position: fixed;
		z-index: 8999;
	}
}
	.btn-filter-toggle{
		padding: 7px;
		line-height: 1;
		border: 0;
		border: 0;
		position: absolute;
		left: 100%;
		z-index: 9000;
		height: 36px;
		width: 36px;
		&.btn-back{
			left: 0;
		}
	}

	.filter-nav{
		overflow-y: scroll;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}


	//filter accordian groups

	.panel-group{
		.panel{
			background:none;
			border: none;
			@include border-radius(0);
		}

	}

		
			.panel-heading{
				padding: 0;
				@include border-radius(0);
			}

				.panel-title{
					padding: 0;
					background:$off-white;
					&.title-filter{
						margin-bottom: 5px;
						.accordion-toggle{
							padding: 15px 20px;
						}
					}
					.accordion-toggle{
						display: block;
						padding: 10px 20px;
						cursor: pointer;
						text-transform: uppercase;
						@include font-size(12);
						font-weight: normal;
						line-height: 1;
						i{
							float: right;
						}
					}
				}

			.panel-collapse{

			}

				.panel-body{
					border: 0;
				}

			.filter-grp{

			}

				.filter-item{
					@include inline-block;
					position: relative;
					width: 100%;
					label {
						@include font-size(12);
						cursor: pointer;
						word-break: break-all;
						width:auto;
						margin: 0;
						padding: 7px 0;
						text-align: left;
						color: $off-white;
						display: block;
						font-weight: normal;
						@include font-arial;
						&:hover, &:focus {
							text-decoration: underline;
						}
						i{
							width: 20px;
						}
					}
					input[type="radio"], input[type="checkbox"] {
						display: none;
					}
				}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////
	    __  ___          __      __        _____ __        __         
	   /  |/  /___  ____/ /_  __/ /__     / ___// /___  __/ /__  _____
	  / /|_/ / __ \/ __  / / / / / _ \    \__ \/ __/ / / / / _ \/ ___/
	 / /  / / /_/ / /_/ / /_/ / /  __/   ___/ / /_/ /_/ / /  __(__  ) 
	/_/  /_/\____/\__,_/\__,_/_/\___/   /____/\__/\__, /_/\___/____/  
	                                             /____/               
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

//default graphs
.container-data{
	width: 100%;
	@include clearfix();
	float: left;
	width: 50%;
	margin: 30px;
}
	.title-data{
		@include font-oswald();
		@include font-size(20);
		color: $dark-grey;
		text-transform: uppercase;
	}
		.container-graph{
			width: 50%;
			position: relative;
		}
		.no-filter-alert{
			min-height: 255px;
			border: 1px solid $medium-grey;
			@include border-radius(6px);
			padding: 66px 20px;
		}

		.pie-chart{
			width: 100%;
		}

		#container2, #container1 {
				height:255px;
			}

		.label-graph{
			text-align: center;
			display: block;
			@include font-arial();
			@include font-size(12);
			color: $medium-grey;
		}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////
	   ______            __             __     _____ __        __         
	  / ____/___  ____  / /____  ____  / /_   / ___// /___  __/ /__  _____
	 / /   / __ \/ __ \/ __/ _ \/ __ \/ __/   \__ \/ __/ / / / / _ \/ ___/
	/ /___/ /_/ / / / / /_/  __/ / / / /_    ___/ / /_/ /_/ / /  __(__  ) 
	\____/\____/_/ /_/\__/\___/_/ /_/\__/   /____/\__/\__, /_/\___/____/  
	                                                 /____/               
////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container-columns{
	@extend %container-grid;
	@include clearfix();
	padding-bottom: 30px;

}

	.column-main{

	}

	.title-page{

	}

	.mail-link{
		&:hover{
			color: $light-grey;
		}
	}
	.container-tb{
		float: left;
		width: 100%;
	}

		.tb{
			width: 100%;
			table-layout: fixed;
			border-left: 1px solid $dark-grey;
			border-right: 1px solid $dark-grey;
			&.modal-tb{
				margin: 15px 0;
			}
		}
			.header-tb{
				th{
					@extend %common-header;
					text-transform: none;
					padding: 10px 0;
					text-align: center;
					&:first-child{
						text-align: left;
					}
				}
			}

			.body-tb{
				tr{
					background:$off-white;
					td{
						border-bottom: 1px solid $dark-grey;
						line-height: 1;
						padding: 15px 0;
						text-align: center;
						&:first-child{
							text-align: left;
						}
					}
				}
			}

				.firm-name-cell, .date-cell{
					width: 20%;
					padding: 15px 10px !important;
				}

				.activitiy-cell{
					width: 15%;
				}
				.product-cell {
					width: 15%
				}
				
				.project-age-cell{
					width: 10%;
					
					&.table-content{
						text-align: center;
						
					}
				}
				th.project-age-cell {
					position: relative;
					i{
						position: absolute;
						right:6px;
						top:16px;
					}
				}

				.activity-age-cell{
					width: 10%;
					
					&.table-content{
						text-align: center;
						
					}
				}
				th.activity-age-cell {
					position: relative;
					i{
						position: absolute;
						right:6px;
						top:16px;
					}
				}

				.participant-cell{
					width: 15%;
				}

				.sub-id-cell{
					width: 10%;
				}

				.notes-cell{
					width: 7%;
					text-align: center;
				}

				.no-results{
					padding: 15px 10px !important;

				}

//Detail table

				.note-act-cell{
					padding-right: 15px !important;
					select{
						max-width: 100%;
					}
				}

				.note-editor-cell{
					padding-right: 10px !important;
					textarea{
						width: 100%;
						resize: none;
						padding: 5px;
						&.disabled{
							border: 1px solid $medium-grey;
							color: $medium-grey;
						}
					}
				}

/* .container-grid{
	@include clearfix();
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
	&.data-view {
		padding: 35px 5% 50px 2%;
		margin: 0;
		height: 275%;
	}
} */

.select-group{
	margin:0 0 20px;
	padding:10px 3%;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		&.module{
			padding:10px 2%;
			margin: 0;
			list-style: none;
			background: #666666;
			margin:0 0 15px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		}
		li{
			&:first-child{
				color: #fff;
				font-weight: bold;
				display: block;
				padding: 0 0 5px 10px;
				&:after{
						font-family: arial;
						content: "\0445";
						color: #fff;
						float: right;
						@include font-size(14);
					}
				}
			a{
				color: #fff;
				text-decoration: none;
				padding:0 0 0 10%;
				&:after{
					font-family: arial;
					content: "\0445";
					color: #fff;
					float: right;
					@include font-size(14);
				}
			}
		}
	}
}

.filter-group{
	margin:0 0 20px;
	padding:10px 3%;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			display: inline;
			&:first-child{
				@include font-size(15);
				font-weight: bold;
				display: block;
				padding: 0 0 5px;
			}
			a{
				display: block;
				width: 100%;
				padding:0 0 0 15px;
				text-decoration: underline;
				color: #505050;
			}
		}
	}
} 

.clear-filters{
	display: block;
	width: 100%;
	padding:0 0 0 15px;
	text-decoration: underline;
	color: #505050;
}

.main-column-detail{
	/* width: 75%;
	min-height: 320px; */
}
.main-column-index{
	width: 100%;
	float: right;
	padding:0 5%;
}
.main-column-login{
	width: 35%;
	padding:0;
	margin:0 auto;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////
	    ____       __        _ __   _    ___                 _____ __        __         
	   / __ \___  / /_____ _(_) /  | |  / (_)__ _      __   / ___// /___  __/ /__  _____
	  / / / / _ \/ __/ __ `/ / /   | | / / / _ \ | /| / /   \__ \/ __/ / / / / _ \/ ___/
	 / /_/ /  __/ /_/ /_/ / / /    | |/ / /  __/ |/ |/ /   ___/ / /_/ /_/ / /  __(__  ) 
	/_____/\___/\__/\__,_/_/_/     |___/_/\___/|__/|__/   /____/\__/\__, /_/\___/____/  
	                                                               /____/               
////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container-detail{
	padding: 20px 20px 5px;
	background:$off-white;
	margin-bottom: 40px;
}

	.container-detail-row{
		padding-bottom: 15px;
		.detail-block{
				width: 32%;
				float: left;
				margin-right: 2%;
				border: 1px solid $medium-grey;
				&:last-child{
					margin-right: 0;
				}
			}
	}

		.title-detail{
			@extend %common-header;
			i{
				float: right;
			}
		}

		.body-detail{
			@extend %common-body;
			min-height: 60px;
			&.detail-activity{
				background:$light-grey;
			}
		}

		.add-note{
			padding: 5px 30px;
			margin-top: 15px;
			i{
				margin-right: 10px;
			}
		}


	
/*///////////////////////////////////////////////////////////////////////////////////////////////////////
	  ________                   __          __    __        _    ___                 _____ __        __         
	 /_  __/ /_  ________  _____/ /_  ____  / /___/ /____   | |  / (_)__ _      __   / ___// /___  __/ /__  _____
	  / / / __ \/ ___/ _ \/ ___/ __ \/ __ \/ / __  / ___/   | | / / / _ \ | /| / /   \__ \/ __/ / / / / _ \/ ___/
	 / / / / / / /  /  __(__  ) / / / /_/ / / /_/ (__  )    | |/ / /  __/ |/ |/ /   ___/ / /_/ /_/ / /  __(__  ) 
	/_/ /_/ /_/_/   \___/____/_/ /_/\____/_/\__,_/____/     |___/_/\___/|__/|__/   /____/\__/\__, /_/\___/____/  
	                                                                                        /____/               
////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.thresholds-wrapper{
	margin: 30px 0;
}

	.container-forms{
		width: 63%;
		float: left;
		margin-right: 2%;
		&.new{
			width: 35%;
			float: right;
			margin: 0;
		}

	}

		
		.container-threshold{
			float: left;
			width: 100%;
			position: relative;
			label{
				@extend %common-header;
				width: 100%;
			}
			input{
				width: auto;
				margin: 15px 20px;
				&.ng-dirty.ng-invalid{
					@include box-shadow(0 0 8px 2px #CC6666);
				}
			}
			input[type="number"], select{
				margin: 15px 2%;
				width: 96%;
				padding: 5px 8px;
			}
			&.new{
				background:$light-grey;
				margin-bottom: 7px;
				border: 1px solid $medium-grey;
				.button{
					margin: 15px 2%;
				}
			}
		}


			.threshold-form{
				float: left;
				width: 95%;
				background:#999;
				padding: 5px 5px 0 5px;
			}

			.container-threshold:last-child .threshold-form{
				padding-bottom: 5px;
			}




			.error{
				margin: 0 2%;
				color: $red;
			}

			.title-threshold{
				background: $dark-grey;
				color: $off-white;
				padding: 10px 20px;
				float: left;
				width: 65%;
				@include font-size(12);
				@include font-arial();
				&.open-threshold{
					background:$red;
				}
			}

			.delete{
				float: right;
				width: 5%;
				background: none;
				border: none;
				cursor: pointer;
				}

				.fa-trash-o.delete-icon{
					padding: 14px 0 0;
					&:before{
						color: #333;
						
					}
					
				}


			.container-toggle-form{
				float: left;
				width: 100%;
				background:$off-white;
			}

				.btn-threshold.toggle-threshold{
					display: block;
					background: #66b45c;
					cursor: pointer;
					color: #fff;
					float: right;
					width: 35%;
					padding: 10px 20px;
						&:before{
							content: "+ open";
						}
						&.open-threshold{
							background: $dark-grey;

							&:before{
								content: "- close";
							}
						}
				}

			.container-new-btn{

			}

			.add-new{
				width: 50%;
				text-align: center;
				padding: 10px 20px;
				background: #66b45c;
				display: block;
				color: #f1f1f1;
				float: left;
				text-decoration: none;
				&.remove{
					background: #CC6666;
				}
				&:hover{
					background: #333;
					color: #f1f1f1;
					text-decoration: none;
				}
				.plus{
					color: #f1f1f1;
					width: 20%;
					height: 15px;
				}
			}

/*/////////////////////////////////////////////////////////////////////////////////////////////
	    ______            __           
	   / ____/___  ____  / /____  _____
	  / /_  / __ \/ __ \/ __/ _ \/ ___/
	 / __/ / /_/ / /_/ / /_/  __/ /    
	/_/    \____/\____/\__/\___/_/     
	                                   
/////////////////////////////////////////////////////////////////////////////////////////////*/
.container-footer-page{
	background:$dark-grey;
}

	.footer-page{
		@extend %container-grid;
		@include clearfix();
		color: $off-white;
		@include font-size(11);
		@include font-arial();
		line-height: 1.5;
		padding: 20px 0;
		p{
			padding: 0;
			margin: 0;
		}
	}

		.container-footer-left{
			float: left;
			width: 45%;
		}

			.footer-logo{
				display: block;
				margin-bottom: 15px;
			}

			.feedback {
				margin: 6px 0;
				a, a:visited{
					color: #CC6666;
					text-decoration: none;
					font-weight: bold;
					&:focus, &:hover{
						color: #61b257;
					}
				}
			}

		.container-footer-right{
			float: right;
			width: 50%;
			padding-top: 28px;
		}

		/* new thresholds, temp, need styling */
		.thresh-tree {
			list-style:none;
			margin:0;
			padding:0;
			width:50%;
			float:left;
			i {
				padding-right:5px;
			}
			a {
				text-decoration: none;
			}

			li {
				font-family: sans-serif;
				@include font-size(16);
			}
			ul {
				list-style:none;
				margin:0;
				padding:5px;
				li {
					@include font-size(14);
					ul {
						padding-left:15px;
					}
				}
			}
		}
		.thresh-settings {
			width:50%;
			float:right;
		}
