<div class="container-page">
	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<!-- 	<button class="button btn-filter-toggle btn-back" ng-click="previousState()" affix="167"><i class="fa fa-caret-left fa-lg"></i></button>
	 -->	<div class="container-filter-status-outer clearfix" ng-class="{ 'no-data': detailRows.length <= 0}"><div class="container-filter-status" ng-show="detailRows.length <= 0">
			<i class="fa fa-warning"></i>
			an error occured while processing your request. No information can be displayed for this instance.
    </div></div>
	<div class="container-columns">
		<h2 class="title-page" ng-hide="detailRows.length <= 0">
				{{detailRows[0].firm_name}}
		</h2>
		<div class="container-detail" ng-repeat="items in detailRows" ng-hide="detailRows.length <= 0">
			<div class="container-detail-row clearfix">
				<div class="detail-block">
					<h4 class="title-detail">Activity</h4>
					<div class="body-detail detail-activity">{{items.activity_description}}</div>
				</div>
				<div class="detail-block">
					<h4 class="title-detail">Activity Due <i class="fa fa-calendar"></i></h4>
					<div class="body-detail">{{items.activity_due}}</div>
				</div>
				<div class="detail-block">
					<h4 class="title-detail">Activity Age <i class="fa fa-circle {{items.activity_status}}"></i></h4>
					<div class="body-detail">{{items.activity_age}}</div>
				</div>
			</div>
			<div class="container-detail-row clearfix">
				<div class="detail-block">
					<h4 class="title-detail">Sub ID</h4>
					<div class="body-detail">{{items.sub_id}}</div>
				</div>
				<div class="detail-block">
					<h4 class="title-detail">Participant <i class="fa fa-envelope"></i></h4>
					<div class="body-detail"><a href="#/participant/{{items.participant_first_name}}_{{items.participant_last_name}}" ng-hide="items.participant_last_name == 'Unassigned'" class="tb-link">{{items.participant_first_name}}   {{items.participant_last_name}}</a><span ng-show="items.participant_last_name == 'Unassigned'">{{items.participant_last_name}}</span> <span ng-hide="items.participant_last_name == 'Unassigned'">| <a href="mailto:{{ items.participant_first_name }}.{{ items.participant_last_name }}@thomsonreuters.com?subject=Following%20up&body={{ items.participant_first_name }}%20&#44;&#10;">Email</a></span></div>

				</div>
				<div class="detail-block">
					<h4 class="title-detail">Project Age <i class="fa fa-circle {{items.project_color}}"></i></h4>
					<div class="body-detail">{{items.project_age}}</div>
				</div>
			</div>
			<div class="detail-block" ng-repeat="item in selected">
				<h4 class="title-detail">{{item}}</h4>
				<div class="body-detail">{{items[item]}}</div>
			</div>
<!-- 			<button class="button" ng-click="open()"><i class="fa fa-plus-circle"></i> Add/Remove Field</button>	
		 -->		</div>
		<div class="container-tb" ng-hide="detailRows.length <= 0">
			<h2 class="title-page">Notes <i class="fa fa-file-text"></i></h2>
			<table class="tb">
				<thead class="header-tb">
					<tr>
						<th class="date-cell" colspan="3">Date</th>
						<th colspan="4">Activity</th>
						
						<th colspan="4">Note</th>
						<th colspan="2">Saved by</th>
						<th colspan='2'>&nbsp;</th>
						
					</tr>
				</thead>
				<tbody class="body-tb" id="content">
					<tr ng-repeat="note in notesData.notes" ng-controller='noteRowCtrl'>
						<td class="date-cell" colspan="3">{{note.date["$date"] | date:'MMMM dd, yyyy'}}</td>
						<td class="note-act-cell" colspan="4">{{note.activity}}</td>
						<td class="note-editor-cell" colspan="4">
							<textarea name="note-editor" id="note-editor" ng-class="{ disabled:!note.active}" ng-disabled="!note.active" ng-model="note.content">{{note.content}}</textarea>
						</td>
						<td class="created-by" colspan="2">{{note.author}}</td>
						<!-- conditional cells -->
						<td ng-if="!note.active" class="edit"><a href="#" ng-click="note.active=true">edit</a></td>
						<td class="rem-cell" ng-if="!note.active"><a href="#" ng-click="notesData.deleteNote(note)">delete</a></td>
						<td ng-if="note.active" class="save-cell"><a href="#" ng-click="saveEdits(note)">save</a></td>
						<td ng-if="note.active" class="cancel-cell"><a href="#" ng-click="note.active=false">cancel</a></td>
					</tr>
					<tr ng-repeat="note in notesData.newNotes" ng-include="'static/partials/notesRow.html'" ng-controller='noteRowCtrl'>
					</tr>
					<tr ng-show="notesData.notes.length == 0 && notesData.newNotes.length == 0"><td colspan="15" class="no-results">No notes</td></tr>
				</tbody>
			</table>
			<button class="button add-note" ng-click="notesData.addNote(detailRows)"><i class="fa fa-plus-circle fa-lg"></i>Add Note</button>
			
		</div>
        <div ng-show="detailRows.length <= 0" class="no-results">No results found</div>
	</div>
</div>
