
	
	<td class="date-cell" colspan="3">{{note.date | date:'MMMM dd, yyyy'}}</td> 
	<td class="note-act-cell" colspan="4">
		For:
		<select ng-model="note.selectedTask" ng-change="swapTasks(note.selectedTask)">
			<option ng-repeat="row in note.rows" value={{row}}>{{row.activity_description}}</option>
		</select>
	</td>
	<td class="note-editor-cell" colspan="4">
		<textarea name="note-editor" id="note-editor" ng-model="note.annotation" ></textarea>
	</td>
	<td class="created-by-cell" colspan="2">{{note.user.first_name}} {{note.user.last_name}}</td>
	<td class="save-cell"><a href="#" ng-click="save($index)">save</a></td>
	<td class="rem-cell"><a href="#" ng-click="rem($index)">delete</a></td>

