<div class="modal-body">
    <div class="modal-header">
        <h3>Preferences</h3>
        <p class="settings-text">to provide more useable information set your default filters</p>
    </div>
    <form id="form-prefs">
   <div class="container-select-outer">
    <label class="settings-text" for="default_view">Select a default organizations</label>
       <div class="container-select">
           <i class="fa fa-caret-down fa-lg"></i>
           <select  name="default_view" ng-options="c.name for c in orgChoices" id="default_view" class="modal-select" ng-model="settingsOrg" ng-change="setLists()">
               <option value="">-- choose a default view --</option>
           </select>
       </div>
   </div>
   <div class="container-settings-item" ng-show="listsLoaded" >
      <label class="settings-text" for="filter_settings">Select a default process filters</label>
          <div class="settings-item" ng-repeat="item in orgProcesses.list | orderBy:'toString()'" ng-class="{checked: settingsProcess.indexOf(item) > -1}">
              <label>
                  <input type="checkbox" ng-click="toggleSelection('settingsProcess', item)" ng-checked="settingsProcess.indexOf(item) > -1" ng-class="{ 'selected-class-name': $index == selectedIndex }" class="filter-radio" value="process" name="process-filters" >
                  <i class="fa fa-lg" ng-class="{'fa-check-square-o': settingsProcess.indexOf(item) > -1 , 'fa-square-o': settingsProcess.indexOf(item)<=-1}"></i>{{item}}
              </label>
          </div>
   </div>
   <div class="container-settings-item" ng-show="listsLoaded" >
      <label class="settings-text" for="filter_settings">Select a default product filters</label>
          <div class="settings-item" ng-repeat="item in orgProducts.list | orderBy:'toString()'" ng-class="{checked: settingsProduct.indexOf(item) > -1}">
              <label>
                  <input ng-click="toggleSelection('settingsProduct', item)"  ng-checked="settingsProduct.indexOf(item) > -1" type="checkbox" class="filter-class" value="product" name="product-filters" />
                  <i class="fa fa-lg" ng-class="{'fa-check-square-o': settingsProduct.indexOf(item) > -1 , 'fa-square-o': settingsProduct.indexOf(item) <= -1}"></i>{{item}}
              </label>
          </div>
   </div>
   <div class="container-settings-item" ng-show="listsLoaded" >
        <label class="settings-text" for="filter_settings">Select a default activity filters</label>
            <div class="settings-item" ng-repeat="item in orgActivities.list | orderBy:'toString()'" ng-class="{checked: settingsActivity.indexOf(item) > -1}">
                <label>
                    <input type="checkbox" ng-click="toggleSelection('settingsActivity', item)" ng-checked="settingsActivity.indexOf(item) > -1" ng-class="{ 'selected-class-name': $index == selectedIndex }" class="filter-radio" value="activity" name="activity-filters" >
                    <i class="fa fa-lg" ng-class="{'fa-check-square-o': settingsActivity.indexOf(item) > -1 , 'fa-square-o': settingsActivity.indexOf(item)<=-1}"></i>{{item}}
                </label>
            </div>
     </div>
     <div class="container-settings-item"  ng-show="listsLoaded">
      <label class="settings-text" for="manager-settings">Select a default manager filters</label>
         <div class="settings-item" ng-repeat="item in orgManagers.list | orderBy:'toString()'" ng-class="{checked: settingsManager.indexOf(item) > -1}">
            <label>
                <input ng-click="toggleSelection('settingsManager', item)"  ng-checked="settingsManager.indexOf(item) > -1" type="checkbox" class="filter-class" value="manager" name="manager-filters" />
                <i class="fa fa-lg" ng-class="{'fa-check-square-o': settingsManager.indexOf(item) > -1 , 'fa-square-o': settingsManager.indexOf(item)<=-1}"></i>{{item}}
            </label>
        </div>
     </div>
   </div>

</form>
<div class="container-modal-btn clearfix">
    <button class="btn-link btn-reset" ng-click="resetAll()">Reset</button>
    <div class="container-save right">
      <button class="button btn-modal" ng-click="ok()" ng-class="{disabled: !settingsOrg && !settingsActivity && !settingsManager}" ng-disabled ="!settingsOrg && !settingsActivity && !settingsManager">Save</button>
      <button class="btn-link" ng-click="cancel()">Cancel</button>
    </div>
</div>