<div class="container-page" ng-controller="thresholdsCtrl">
	
	<div class="container-columns">
		<h2 class="title-page" ng-hide="detailRows.length <= 0">
			Threshold Manager
		</h2>
		<div class="thresh-tree clearfix">
			<h3>List of Thresholds -- click to expand</h3>
			<ul class="">
			<!-- //TODO:animation and styling -->
				<li ng-repeat="p in processes | orderBy:'label':false">
				<a href ng-init="procClicked=false" ng-click="procClicked = !procClicked" ng-class="p.unset"><i class="fa fa-lg " ng-class="{true:'fa-minus-square',false:'fa-plus-square'}[procClicked]"></i>{{p.label}}</a>
				<ul >
				<li ng-repeat="product in p.nodes | orderBy:'label':false" ng-show="procClicked" ng-class="unset">
					<a href ng-init="prodClicked=false" ng-click="prodClicked = !prodClicked"><i class="fa fa-lg" ng-class="{true:'fa-minus-square-o',false:'fa-plus-square-o'}[prodClicked]"></i>{{product.label}}</a>
					<ul >
					<li ng-repeat="activity in product.nodes | orderBy:'label':false" ng-show="prodClicked">
						 <i class="fa  " ng-class="{'fa-thumbs-o-up':activity.green_project,'fa-thumbs-o-down':!activity.green_project}"></i>
						<a href ng-class="{red:!activity.green_project,green:activity.green_project}"  ng-click="loadTree($parent.$parent.p.label, $parent.product.label, activity.label)" ng-model="currentActivity">
						{{activity.label}}
						</a>
						<ul ng-if="activity.green_project && activity.yellow_project">
							<li>Green: {{activity.green_project}}</li>
							<li>Yellow: {{activity.yellow_project}}</li>
						</ul>
					</li>
					</ul>
				</li>
				</ul>
				</li>
				</ul>
		</div>
			
		
		
		<div class="thresh-settings clearfix">
			<h3>Set Threshold Values</h3>
			<p>To create or edit thresholds for an activity, please select a process, then product, and finally an activity.</p>
				<h4>Select a Process</h4>
				<select ng-change="processSelectHandler()" ng-model="processSelect"  ng-options="p as p.label for p in processes | orderBy:'label'">
					
				 </select>
				  <div ng-show="products.length>0 || treeDisplay">
				  	<h3>Select a Product</h3>
				  	<select ng-change="productSelectHandler()" ng-model="productSelect"  ng-options="product as product.label for product in products | orderBy:'label'">
				  				
				  	</select>
				  </div>
				  <div  ng-show="activities.length>0 || treeDisplay">
				  	<h3>Select an Activity</h3>
				  	<select ng-change="activitySelectHandler()" ng-model="activitySelect"  ng-options="activity as activity.label for activity in activities | orderBy:'label'">
				  	</select>
				  </div>
				  <div ng-show="activities.length>0">
				  	<div >
				  		<label for="g-pro-set">Project Green</label>
				  		<input name="g-pro-set" type="number" step="1" min="0" id="g-pro-set" value="{{activitySelect.green_project_age}}" ng-model="green_project"  ng-class="errorDataTypeGreen" required>
				  		<small class="error" ng-show="errorDataTypeGreen">
				  			<i class="fa fa-warning"></i>
				  			Please enter a number
				  		</small>
				  		<br />
				  		<label for="y-pro-set">Project Yellow</label>
				  		<input name="y-pro-set" type="number" step="1" min="0" id="y-pro-set" value="{{activitySelect.yellow_project_age}}" ng-model="yellow_project" ng-class="errorDataTypeYellow" required>
				  		<small class="error" ng-show="errorDataTypeYellow">
				  			<i class="fa fa-warning"></i>
				  			Please enter a number
				  		</small>
				  		<small class="error" ng-show="errorDataTypeYellow">
				  			<i class="fa fa-warning"></i>
				  			Please enter a number
				  		</small>
				 		<small class="error" ng-show="errorMath">
				 			<i class="fa fa-warning"></i>
				 			{{errorMath}}
				 		</small>

				  		<button ng-disabled="!green_project || !yellow_project || transmitting" ng-click="submitThresholds()"><span ng-if="!transmitting">Submit</span> <span ng-if="transmitting">Loading <i class="fa fa-refresh fa-spin"></i></span></button>
				  	</div>
				  </div>
			</div>
			<div class="container-scaffold">
			<h3>Build threshold data structure based on current data source</h3>
			<p><small> Does not populate threshold data</small></p>
			<button ng-click="makeThreshStructure()">
				<span ng-if="!scaffoldLoading">Click to scaffold Thresholds</span>
				<span ng-if="scaffoldLoading">Loading <i class="fa fa-refresh fa-spin"></i></span> 
				
			</button>
			</div>
		</div>
			
		

	
	</div>
