<div class="container-page">
	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
	<button class="button btn-filter-toggle btn-back" ng-click="previousState()" affix="167"><i class="fa fa-caret-left fa-lg"></i></button>
	<div class="container-filter-status-outer clearfix" ng-class="{ 'no-data': detailRows.length <= 0}"><div class="container-filter-status" ng-show="detailRows.length <= 0">
			<i class="fa fa-warning"></i>
			an error occured while processing your request. No information can be displayed for this instance.
    </div></div>
	<div class="container-columns">
		<h2 class="title-page" ng-hide="detailRows.length <= 0">
			Threshold Manager
		</h2>
		<div class="container-forms">
			<div class="container-threshold current clearfix" ng-repeat="row in rows">
				<form class="threshold-form" name="{{row.activity}}" ng-submit="updateThresholds(row)">
					<div class="title-threshold" ng-model="row.activity" ng-class="{'open-threshold':toggleForm, 'close-threshold':!toggleForm}">{{row.activity}}</div>
					<div class="btn-threshold toggle-threshold" ng-class="{'open-threshold':toggleForm, 'close-threshold':!toggleForm}" ng-click="toggleForm = !toggleForm"></div>
					<div class="container-toggle-form" ng-show="toggleForm">
						
						<label for="g-pro-set">Project Green</label>
						<input name="g-pro-set" type="number" step="1" min="0" id="g-pro-set" value="{{row.green_project}}" ng-model="row.green_project" required>
						<small class="error" ng-show="newThresholdForm.newYellowPro.$dirty && newThresholdForm.newYellowPro.$invalid">
							<i class="fa fa-warning"></i>
							Please enter a number
						</small>
						<label for="y-pro-set">Project Yellow</label>
						<input name="y-pro-set" type="number" step="1" min="0" id="y-pro-set" value="{{row.yellow_project}}" ng-model="row.yellow_project" required>
						<small class="error" ng-show="newThresholdForm.newYellowPro.$dirty && newThresholdForm.newYellowPro.$invalid">
							<i class="fa fa-warning"></i>
							Please enter a number
						</small>
						<input class="button right" type="submit" value="Update" name="submit">
					</div>
				</form>
				<button class="delete" ng-click="removeThreshold(row)"><i class="fa fa-trash-o fa-2x delete-icon"></i></button>
			</div>
		</div>
		<div class="container-forms new">
			<div class="clearfix" ng-include="'../static/partials/newForm.html'" ng-repeat="(key, forms) in newThresholdForm"></div>
			<div class="container-new-btn">
				<a ng-href="#/set-thresholds" class="add-new" ng-click="newThresholdForm.push({id: newThresholdForm.length + 1})">add threshold <span class="plus">+</span></a>
				<a ng-href="#/set-thresholds" class="add-new remove" ng-click="newThresholdForm.pop()">remove threshold <span class="plus">-</span></a>
			</div>
		</div>
	</div>
</div>