<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html  class="no-js" lang="en-US"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	    <title>Traffik Report</title>
    
  
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/site.css')}}">
   <!--  <link rel="stylesheet" href="{{url_for('static', filename='css/nv.d3.css')}}"/> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet' type='text/css'>
</head>
<body ng-app="Traffik" ng-controller="outerCtrl">
    <div class="container-wrap">
    {% raw %}
    <div class="container-feedback-outer"><div class="container-feedback clearfix" ng-hide="!feedbackAlert">
        <p class="feedback left">If you find an issue or have an suggestion, <a href="mailto:nate.reif-wenner@thomsonreuters.com;%20ken.korth@thomsonreuters.com;%20brian.rogstad@thomsonreuters.com?Subject=Traffik%20Request">Send them to us</a>.</p>
        <button class="hide-feedback right" ng-click="hideFeedback()">Hide <i class="fa fa-reply fa-rotate-90"></i></button>
    </div></div>
    <div class="container-header">
        <header class="header-page" ng-class="{'no-feedback-msg':!feedbackAlert}">
            <div class="container-logo">
               <!--  <div class="three-colors">
                   <div class="red-logo traffic"></div>
                   <div class="yellow-logo traffic"></div>
                   <div class="green-logo traffic"></div>
               </div> -->
                <h1 class="logo"><a href="/">Traffik Report <span class="beta">beta</span></a></h1>
                <div class="tagline">Simplified Collaborative Reporting</div>
            </div>
            {% endraw %}
            <div class="container-login">
                <a class="leave-feedback right" href="mailto:nate.reif-wenner@thomsonreuters.com;%20ken.korth@thomsonreuters.com;%20brian.rogstad@thomsonreuters.com?Subject=Traffik%20Request">Leave feedback  <i class="fa fa-comment fa-lg"></i></a>
                <span class="login-block">
                {% if session['user']  %}
                        <img src="http://thehub.thomsonreuters.com/people/{{uid}}/avatar/32.png" class="avatar" /> <!--| <a href="{{ url_for('logout') }}" class="logout">Logout</a> --> 
                        {% raw %}
                        <button class="button-light btn-user" ng-click="openSettings()"><i class="fa fa-cog fa-lg"></i><span>Settings</span></button>
                        {% endraw %}
                    {% else %}
                        not logged in | <a href="{{ url_for('login')}}" class="login">login</a>
                    {% endif %}
               
                </span>
                {% raw %}
                <div class="container-timestamp">Data modified: <strong>{{ modifiedDate | date:'MMMM dd, yyyy hh:mm a'}}</strong></div>
                {% endraw %}
            </div>
            {% raw %}
        </header>
    </div>
    <div class="container-nav">
        <nav class="main-nav clearfix">
            <ul>
               <li><a href="#/design" id="Design" ng-class="{active: $state.includes('design')}">Design</a></li>
    <!--            <li><a href="#/bangalore_development" id="Development-BGL" ng-class="{active: $state.includes('development')}">FED Bangalore</a></li>
    <li><a href="#/eagan_development" id="Development-EGN" ng-class="{active: $state.includes('development')}">FED Eagan</a></li>  -->
                <li><a href="#/development" id="Development" ng-class="{active: $state.includes('development')}">Development</a></li>
               <li><a href="#">Project Managment</a></li>
                <li><a href="#">Quality Assurance</a></li>
                <li><a href="#">SEO</a></li>
                <li><a href="#">Writers</a></li>
            </ul>
           
            
        </nav>
    </div>
	<div class="container-ng" ui-view></div>
    
    <div class="overlay"></div>
    {% endraw %}
    <div class="container-footer-page">
        <footer class="footer-page">
            <div class="container-footer-left">
                <img src="/static/images/logo-footer.png" class="footer-logo" alt="Traffik Logo">
                <p>Traffik is built and maintained by the FindLaw DevLab.</p>
                <p class="feedback">If you find an issue or have an suggestion, <a href="mailto:nate.reif-wenner@thomsonreuters.com;%20ken.korth@thomsonreuters.com;%20brian.rogstad@thomsonreuters.com?Subject=Traffik%20Request">Send them to us</a>.</p>
                <p>Copyright &#169; <script type="text/javascript">var d = new Date();document.write(d.getFullYear()); </script> FindLaw, a Thomson Reuters business. All Rights Reserved.</p>
            </div>
            <div class="container-footer-right">
                <p>Due to uncontrollable circumstances such as recent sub remapping, errors in reports, and other things out of our control this data may not be correct. We have taken every measure to present usable data but this should only be used as referance and always verified. This product is intended for internal use only.</p>
            </div>
        </footer>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
<script src="../static/js/traf.min.js"></script>



</html>