/*//////////////////////////////////////////////////detailed view//////////////////////////////////////////////////////*/

.modules-detail{
	@extend .modules;
	border: 0;
	@include border-radius(6px);
	width: 225px;
	margin-bottom: 20px;
/* 	padding: 15px;

 */	padding: 0;
 	background:#e5e5e5;
	&.act__detail{
		
	}
	&.act-due__detail{
	}
	&.pro-age__detail{

	}
	&.act-age__detail{

	}
	&.sub__detail{

	}
	i{
		float: right;
	}
}

.modules-detail__title{
	@extend .modules__indicator-label;
	font-family: leaugeGothicItalic, arial, sans-serif;
	font-weight: 400;
	padding: 10px 15px;
	@include border-radius(6px 6px 0 0);
}

.modules-detail__body{
	padding: 10px 15px;
	min-height: 43px;
}

.add-items{
	list-style-type: none;
	margin: 0;
	padding: 0;
	@include clearfix;
	li{
		display: block;
		float: left;
		padding: 0;
		width: 19%;
		margin: 5px.5%;
		background: #e5e5e5;
		border: 2px #fff solid;
		position: relative;
		input[type="checkbox"]{
			display: none;
		}
		i{
			display: none;
			position: absolute;
			right: -11px;
			top: -5%;
			color: #428bca;
			background: #fff;
			height: auto;
			line-height: .5;
		}
		&.checked{
			border: 2px #428bca solid;
			i{
				display: block;
			}
		}
		.add-field{
			cursor: pointer;
			font-weight: normal;
			margin: 0;
			width: 100%;
			height: 100%;
			padding: 15px 5px;
			display: inline-block;
			@include font-size(14);
			text-transform: capitalize;
		}
	}
}

.add-items.static-fields{
	border-bottom: 2px #999 solid;
	padding-bottom: 10px;
	margin-bottom: 10px;
	li{
		border: 2px #999 solid;
		color: #999;
		padding: 15px 5px;
	}
}

.add-btn{
	@extend .modules__btn;
	float: left;
	width: auto;
	clear: both;
	margin: 20px 0 0;
	font-family: leaugeGothicItalic, arial, sans-serif;
	text-transform: uppercase;
	@include font-size(26);
	i{
		padding-right: 10px;
	}
}

















.email-this {
	position: absolute;
	bottom: 10px;
	img {
		width: 30px;
		vertical-align: middle;
	}
	a {
		text-decoration: none;
		color: #666;
		font-weight: bold;
	}
}

.detail-firm-name{
	@include font-size(36);
	display: block;
	background: none;
	font-family: leaugeGothic, arial, san-serif;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	line-height: 1em;
}

.sub-id{
	display: inline;
	@include font-size(23);
}


/** General page styling **/

header p {
	text-align: center;
	@include font-size(13);
	color: #777;
	margin: 0;
}

/** Grid container **/
#tiles {
	list-style-type: none;
	position: relative;
	margin: 20px 0;
}

/** Grid items **/
.item-detail {
	/* padding: 15px 20px; */
	width: 20%;
	float: left;
	height: 100px;
	margin: 5px 0;
	border-radius: 5px;
	font-family: antonio-light, Arial, sans-serif;
	@include box-shadow(#999 2px 2px 10px);
	background:#f1f1f1;
	&.ht2{
		height: 200px;
		p{
			padding-top: 5px;
			@include font-size(20);
		}
		&.w2{
			.detail-title{
				@include font-size(20);
			}
			p{
				padding-top: 15px;
				@include font-size(30);
			}
		}
	}
	&.ht3{
		height: 300px;
	}
	&.w2{
		width: 40%;
	}
	&.w3{
		width: 65%;
	}
	p {
		color: #666;
		@include font-size(18);
		margin: 7px 0 0;
		padding: 5px 20px;
	}

	.container-sub-links{
		display: none;
		position: absolute;
		left: 100%;
		top: 0;
		min-width: 150px;
		a{
			min-height: 44px;
		}
		
	}
	&:hover .container-sub-links{
		display: block;
	}
	&:hover > .detail-title{
		@include border-radius(5px 0 0 0);
	}
}

	.detail-icons{
		float: right;
	}

.detail-title{
	@include font-size(14);
	padding: 8px 20px;
	background:#505050;
	color: #f1f1f1;
	@include border-radius(5px 5px 0 0);
	display: inline-block;
	width: 100%;
}

.detail-firm-name{
	padding: 15px 20px;
	@include font-size(35);
	display: block;
	background: none;
	font-family: leaugeGothic, arial, san-serif;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	line-height: 1em;
}

.wld-detail{
	color: #666;
	text-align: left;
	@include font-size(14);
	margin: 7px 0 0 7px;
	padding: 0 20px 15px;
}

.firm-info {
	background: #fff;
}
 
/* .project-age-detail {
	background: #f3f9f2;
}

.activity-age-detail {
	background: #fefcf0;
}

.activity-due-detail {
	background: #fbf3f3;

}

.staff-manager-detail {
	background: #fff;
}

.product-detail {
	background: #f2f2f2;
} */


.participant-detail {
/* 	background: #f2f2f2;
 */	@include font-size(20);
}

/* .org-unit-detail{
	background: #fefcf0;
}

.project-manager-detail {
	background: #f2f2f2;
}
 */
.email-detail{
	text-decoration: none;
	color: #666;
	font-family: leaugeGothic, arial, san-serif;
	@include font-size(18);
	font-weight: 400;
	&.pm-detail{
		font-family: antonio-light, Arial, sans-serif;
	}
}

.detail-link{
	/* background: #f2f2f2; */
	cursor: pointer;
	&:hover, &:focus{
		@include box-shadow(#b3b3b3 0 0 14px inset);
		 @include transition-property(box-shadow);
		  @include transition-duration(1s);
		  @include transition-timing-function(ease-out); 
		border: 1px #DADADA solid;
	}
}
