/*///////////////////////////////////////////filter navigation///////////////////////////////////////////////////*/
.affix {
	position: fixed;
}

.container-filter{
	
	top:0;

}
.filter-title{
	width:auto;
}

.toggle-filter{
	
	left: 0;
	top: 0;
	height: 60px;
	width:60px;
	position: absolute;
	background: #61b257;
	color: #505050;
	@include font-size(28);
	text-decoration: none;
	padding:15px 10px;
	color: #f1f1f1;
	font-family: antonio-light, Arial, sans-serif;
	text-align: center;
	display: block;
	z-index: 9999;
	@include transition-property(left);
	@include transition-duration(.3s);
	@include transition-timing-function(ease-out);
	&:visited{
		color: #f1f1f1;
	}
	&:hover, &:focus{
		opacity: 1;
		color: #f1f1f1;
		background:#cc6666;
	}
	&.open{
		background:#cc6666;
	}
	@include breakpoint(max-width 1240px) {
		top: 192px;
	}

}
.toggle-filter.affix, .filter-nav.affix {
	top:0;
	position:fixed;
}

.container-filter{
}


.wrapper{
	position: relative;
	@include transition-property(left);
	@include transition-duration(.3s);
	@include transition-timing-function(ease-out);
	&.open{
		left: 20%;
	}
}
