

/* Global */

a,img{
	outline:none;
	border:none;
}

body {
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	color: #666;
	line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
	color: #505050;
	font-family: Lora-Regular, Georgia, serif;
	margin:0;
	padding-bottom: 5px;
}
.logo:hover,
.logo,
h1{
	font-size: 60px;
	padding: 20px 0;
	float: left;
	margin: 2px 0 0 10px;
	background: none;
	font-family: leaugeGothicItalic, arial, san-serif;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	color: #ffffff;
}
h2{
	font-size: 30px;
	padding:20px 0 50px;
	font-family: antonio-light, Arial, sans-serif;
}
h3{
	font-size: 18px;
}
.highcharts-title{
	display: none;
}


 @font-face {
	font-family: "antonio-light";
	src: url("../fonts/Antonio-Light.ttf");
}
 @font-face {
	font-family: "lora-regular";
	src: url("../fonts/Lora-Regular.ttf");
}
 @font-face {
	font-family: "leaugeGothic";
	src: url("../fonts/LeagueGothic-Regular.otf");
}
 @font-face {
	font-family: "leaugeGothicCondReg";
	src: url("../fonts/LeagueGothic-CondensedRegular.otf");
}
 @font-face {
	font-family: "leaugeGothicItalic";
	src: url("../fonts/LeagueGothic-Italic.otf");
}



.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; line-height: 0; }
#ie .clearfix { height: 1%; }

/*//////////////*/

body{
	margin: 0;
	background: url(../images/concrete.png) 0 0 repeat; 
}
.three-colors{
	float: left;
	padding:20px 0;
	margin:0 0 0 6%;
}
.green{
	background: #61B257;
}
.red{
	background: #CC6666;
}
.yellow{
	background: #ECD356;
}
.traffic{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	margin:0 0 2px;
	height: 20px;
	width: 20px;
}
header{
	background: #505050;
	margin: 0;
	padding: 0;
	clear: both;
	color: #fff;
	width: 100%;
	text-align: right;
}
.logo-span{
	font-weight: 300;
}
.login-block{
	padding:15px 6% 0 0;
	margin: 0;
	display: block;
}
.logout,
.login{
	background: #fff;
	padding: 3px 20px;
	color: #505050;
	font-style: italic;
	text-decoration: none;
	margin: 0 0 0 20px;
}
.logout:hover,
.login:hover{
	color: #fff;
	background: #BABABA;
}
.main-nav{
	clear: both;
	width:90%;
	background-color: #828282; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#828282), to(#505050));
	background-image: -webkit-linear-gradient(top, #828282, #505050); 
	background-image:    -moz-linear-gradient(top, #828282, #505050);
	background-image:     -ms-linear-gradient(top, #828282, #505050);
	background-image:      -o-linear-gradient(top, #828282, #505050);
	margin:0;
	padding:0 5%;
}
.main-nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-nav ul li{
	display: inline;
}
.main-nav ul li a{
	padding:20px 2%;
	margin: 0;
	font-size:15px;
	display: block;
	float: left;
	text-transform: uppercase;
	font-family: Lora-Regular, Georgia, serif;
	text-decoration: none;
	background-color: #828282; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#828282), to(#505050));
	background-image: -webkit-linear-gradient(top, #828282, #505050);
	background-image:    -moz-linear-gradient(top, #828282, #505050);
	background-image:     -ms-linear-gradient(top, #828282, #505050);
	background-image:      -o-linear-gradient(top, #828282, #505050);
	color: #ececec;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-align: center;
}
.main-nav ul li a:hover,
.main-nav ul li a.active{
	background: url(../images/tweed.png) 0 0 repeat;
	color: #ececec;
	-webkit-box-shadow: inset 0 1px 8px 0px #000;
	-moz-box-shadow: inset 0 1px 8px 0px #000;
	box-shadow: inset 0 1px 8px 0px #000;
}
.columns{
	margin:0 1%;
	padding:35px 5% 50px;
	background: #fff url(../images/snow.png) 0 0 repeat;
}
.side-column{
	clear: both;
	float: left;
	width: 20%;
}
.select-group{
	margin:0 0 20px;
	padding:10px 3%;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.select-group ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.select-group ul.module{
	padding:10px 2%;
	margin: 0;
	list-style: none;
	background: #666666;
	margin:0 0 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.select-group ul li a:after,
ul.module li:first-child:after{
	font-family: arial;
	content: "\0445";
	color: #fff;
	float: right;
	font-size:14px;
}
.select-group ul li:first-child{
	color: #fff;
	font-weight: bold;
	display: block;
	padding: 0 0 5px 10px;
}
.select-group ul li a{
	color: #fff;
	text-decoration: none;
	padding:0 0 0 10%;
}
.filter-group{
	margin:0 0 20px;
	padding:10px 3%;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
} 
.filter-group ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.filter-group ul li{
	display: inline;
}
.filter-group li:first-child{
	font-size: 15px;
	font-weight: bold;
	display: block;
	padding: 0 0 5px;
}
.clear-filters,
.filter-group ul li a{
	display: block;
	width: 100%;
	padding:0 0 0 15px;
	text-decoration: underline;
	color: #505050;
}
.detail .main-column{
	width: 75%;
	float: right;
}
.main-column{
	width: 100%;
	float: right;

}
.form-container{
	width: 45.5%;
	padding:0 2% 30px;
	float: left;
}
.activity-toggle{
	clear: both;
	padding: 75px 0 25px;
}
.activity-toggle ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.activity-toggle ul li {
	display: inline;
}
.activity-toggle ul li a{
	display: block;
	float: left;
	width: 10.6%;
	font-family: Lora-Regular, Georgia, serif;
	margin:0 1%;
	padding:10px 2%;
	text-align: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #505050 url(../images/inactive.png) 90% center no-repeat; 
	color: #c3c3c3;
	text-transform: uppercase;
	font-size:14px;
	text-decoration: none;
	border-top:1px solid #a1a1a1;
	border-bottom:1px solid #4b4b4b;
}
.activity-toggle ul li a:hover{
	color: #fff;
	background: #3d3d3d url(../images/inactive.png) 90% center no-repeat;
	border-top:1px solid #b2b2b2;
	border-bottom:1px solid #434343;
}
.activity-toggle ul li a.toggled{
	color: #ffffff;
	background: #828282 url(../images/active.png) 90% center no-repeat;
	-webkit-box-shadow: inset 0 0 40px -10px #000;
	-moz-box-shadow: inset 0 0 40px -10px #000;
	box-shadow: inset 0 0 40px -10px #000;
	border-top:1px solid #2a2a2a;
	border-top:1px solid #505050;
}
.activity-toggle ul li a.toggled:hover{
	color: #ffffff;
	-webkit-box-shadow: inset 0 0 20px 0 #000;
	-moz-box-shadow: inset 0 0 20px 0 #000;
	box-shadow: inset 0 0 20px 0 #000;
}
.user p{
	display: block;
	margin: 0;
	padding: 0;
}
.remember,
#remember_me{
	display: inline;
	width: 13px;
}
label{
	display: block;
	width: 50%;
	margin:0;
	padding:5px 0;
}
input{
	display: block;
	width: 50%;
	margin:0 0 15px;
	padding:10px 5px;
	background: none;
	-webkit-box-shadow: inset 0 0px 15px -5px #000;
	-moz-box-shadow: inset 0 0px 15px -5px #000;
	box-shadow: inset 0 0px 15px -5px #000;
}
.submit{
	width: 52%;
	font-family: leaugeGothic, arial, san-serif;
	font-size: 30px;
	font-weight: normal;
	color: #505050;
}
.activity,
.project{
	width: 50%;
	float: left;
}
.activity-title{
	padding:10px 20px 5px 0;
	text-align: right;
}
.project-title{
	padding:10px 0 5px 20px;
	text-align: left;
}
.activity-indicator{
	float: right;
}
.project-indicator{
	float: left;
}
.activity-indicator,
.project-indicator{
	background: #CC6666;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-family: leaugeGothic, arial, san-serif;
	font-size: 72px;
	font-weight: normal;
	margin: 10px 0 -175px;
	color: #fff;
	height: 89px;
	width: 170px;
	padding-top: 70px;
	text-align: center;
	vertical-align: baseline;
}
.project-container{
	width: 100%;
	float: left;
	display: block;
	min-width: 310px;
	height: 400px;
	margin: 0 auto
}
.activity-container{
	width: 100%;
	float: left;
	display: block;
	min-width: 310px;
	height: 400px;
	margin: 0 auto
}
.data-title{
	clear: both;
}
table{
	clear: both;
	width: 100%;
	border-collapse: collapse;
	margin:0 0 30px;
}
th{
	text-transform: uppercase;
}
td,th{
	padding:1.25%;
	text-align: center;
	width:25%;
}
.firm-name{
	text-align: left;
}
thead{
	border-bottom: 2px solid #ccc;
}
thead
tfoot,
tbody{
	color: #505050;
}
tr{
	border-bottom: 1px solid #ccc;
}
.table-projects-red .project-yellow,
.table-projects-red .project-green,
.table-projects-yellow .project-green,
.table-projects-yellow .project-red,
.table-projects-green .project-yellow,
.table-projects-green .project-red,
.table-activities-red .activity-green,
.table-activities-red .activity-yellow,
.table-activities-yellow .activity-green,
.table-activities-yellow .activity-red,
.table-activities-green .activity-yellow,
.table-activities-green .activity-red{
	display: none;
}
.chart{
	float: left;
	width: 30%;
}
.charts{
	margin:0 0 45px;
}
.data{
	clear: both;
}
footer{
	background: none;
	margin:0 5%;
	padding:20px 0;
}
.activityGreen {
	color:green;
}